<!DOCTYPE html>
<html>
  <body>
    <p>Hi <strong><%= firstName %></strong></p>
    <p>Welcome to <strong>KiloWott!</strong></p>
    <p>Temporary Password: <strong><%= password %></strong></p>

    <i>Please use the above password to login for the first time.</i>
    <p><a href="https://www.kilowott.com/login">CLICK HERE</a> to Login!</p>
  </body>
</html>
